* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 100%;
  -webkit-animation: fade-in 1s ease both;
          animation: fade-in 1s ease both;
}

.scenes {
  height: 100vh;
  font-family: sans-serif;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  -ms-scroll-snap-points-y: repeat(100vh);
      scroll-snap-points-y: repeat(100vh);
  overflow-y: scroll;
  padding-bottom: 2em;
}
@media (min-width: 56em) {
  .scenes.has-scroll-snap {
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    -ms-scroll-snap-points-y: repeat(100vh);
        scroll-snap-points-y: repeat(100vh);
    overflow-y: scroll;
  }
}
.scenes.has-scroll-snap .scene {
  scroll-snap-align: start;
}

.scene {
  position: relative;
  width: 100%;
  padding: 4em 0 0;
}
@media (min-width: 56em) {
  .scene {
    height: 100vh;
    padding: 4em;
  }
}
.scene.is-1 {
  background-color: #fbe6e6;
  color: #033860;
}
.scene.is-2 {
  background-color: #8EA097;
  color: #fbe6e6;
}
.scene.is-3 {
  background-color: #033860;
  color: #fbe6e6;
}
.scene.is-4 {
  background-color: #fff;
  color: #8C5E58;
}
.scene.is-5 {
  background-color: #8C5E58;
  color: #fbe6e6;
}
.scene__grid {
  width: 100%;
  max-width: 90em;
  margin: 0 auto;
}
@media (min-width: 56em) {
  .scene__grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 3em;
    height: 100%;
  }
}
@media (min-width: 85em) {
  .scene__grid {
    width: 80%;
  }
}
.scene__media {
  position: relative;
  height: 25em;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 56em) {
  .scene__media {
    height: 100%;
    max-height: 80vh;
    align-self: center;
  }
}
@media (min-width: 56em) {
  .scene:nth-of-type(even) .scene__media {
    grid-row: 1;
    margin-left: auto;
  }
}
.scene__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.scene__header {
  display: flex;
  align-items: center;
  padding: 2em 2em 4em;
}
@media (min-width: 85em) {
  .scene__header {
    padding: 0 2em;
  }
}
.scene__title {
  margin-bottom: 0;
  font-family: "Bodoni Moda", serif;
  font-size: 4em;
  font-weight: 100;
  letter-spacing: -0.05em;
  line-height: 1;
}
@media (min-width: 56em) {
  .scene__title {
    font-size: 5em;
  }
}
@media (min-width: 85em) {
  .scene__title {
    font-size: 7em;
  }
}
.scene__text {
  max-width: 30em;
  line-height: 1.7;
}
.scene__sep {
  display: block;
  height: 2px;
  width: 4em;
  margin: 3em 0;
  background-color: currentColor;
}

.welcome {
  z-index: 7;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(251, 230, 230, 0.95);
  transition: 0.6s ease;
}
.welcome > div {
  -webkit-animation: fade-down 1s 1s ease both;
          animation: fade-down 1s 1s ease both;
}
.welcome__link {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.welcome__link:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: rgba(3, 56, 96, 0.9);
  transition: width 0.4s cubic-bezier(0.1, 0.3, 0.3, 0.1);
}
.welcome__link:hover:after {
  width: 100%;
}
.welcome.has-entered {
  z-index: -1;
  opacity: 0;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-down {
  0% {
    transform: translateY(-1em);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0em);
  }
}
@keyframes fade-down {
  0% {
    transform: translateY(-1em);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0em);
  }
}