@import url("https://fonts.googleapis.com/css?family=Courgette|Roboto");
* {
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  display: -webkit-box;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter:brightness(70%);
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  
}
.hero:nth-child(1) figure {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/photo-1506260408121-e353d10b87c7.jpg");
}
.hero:nth-child(2) figure {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/photo-1506744038136-46273834b3fb.jpg");
}
.hero:nth-child(3) figure {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/photo-1523712999610-f77fbcfc3843.jpg");
}
.hero:nth-child(4) figure {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/photo-1501785888041-af3ef285b470.jpg");
}

.hero-inner {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  clip: rect(0, auto, auto, 0);
}
/*
@supports (-webkit-overflow-scrolling: touch) {
  .hero-inner {
    clip: initial;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-text-size-adjust:none;
  }
}*/


.hero__title, .hero_subtitle,.scroll_down, .go_home{
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 10vw;
  letter-spacing: -0.125rem;
  text-align: center;
}
.hero_subtitle{
  font-size:4vw;
  margin-top:7vw;

}
.scroll_down{
  font-size:7vw;
  margin-top:20vw;
}
.go_home{
  -webkit-filter: invert(100%);
  filter: invert(100%);
  top:10px;
  left:5px;
  width:90px;
  height:auto;
}


@media only screen and (max-width: 600px) {
  html{
    -webkit-text-size-adjust: none;
  }
  .hero__title{
    font-size:12vw;
  }
  .hero_subtitle{
    font-size:6vw;
    margin-top:13vw;
  }
  .scroll_down{
    font-size:10vw;
    margin-top:85vw;
  }

}

.About{
  display:flex;
  flex-direction: row;
}
.about_left,.about_right{
  display:flex;
  flex-direction: column;
  width:50%;
  align-items: center;
}
.face{
  border-radius: 50%;
  width:200px;
  height:auto;
}
.about_text{
  margin-top:20px;
  text-align: left;
  width:70%;
  font-size:20px;
}
.about_text_mobile{
  display:none;
}
.programming_language{
  margin-top:100px;
  font-size:50px;
  text-decoration: underline;
}
.languages_row{
  text-align: left;
  display:flex;
  flex-direction: row;
  margin-top:40px;
}
.languages_left,.languages_right{
  font-size:30px;
  margin-left:50px;
  margin-right:50px;
}
.l1{
  margin-bottom:40px;
}
@media only screen and (max-width: 600px) {
  .About{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
  }
  .about_left,.about_right{
    display:flex;
    flex-direction: column;
  }
  .face{
    margin-top:10vw;
    border-radius: 50%;
    width:30vw;
    height:auto;
    top:10vw;
    left:10vw;
  }
  .about_text{
    display:none;
  }
  .about_text_mobile{
    display:initial;
    margin-top:5vw;
    text-align: left;
    color:white;
    width:50vw;
    font-size:7vw;
    position:relative;
    left:6vw;
  }
  .programming_language{
    margin-top:5vw;
    font-size:8vw;
    width:80vw;
    text-decoration: underline;
    position:relative;
    left:40vw;
  }
  .languages_row{
    text-align: left;
    display:flex;
    flex-direction: row;
    margin-top:40px;
  }
  .languages_left,.languages_right{
    font-size:6vw;
    position:relative;
    left:35vw;
  }
  .l1{
    margin-bottom:40px;
  }
}


.content {
  position: relative;
  margin: 0 auto 8rem;
  padding: 2rem;
}
.content:before {
  content: '';
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 99;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.content__inner {
  margin: 0 auto;
  max-width: 700px;
}
.content__inner > * + * {
  margin-top: 1.5rem;
}
.content__inner > blockquote {
  margin: 3rem 0;
}

.content__title {
  font-family: "Courgette", serif;
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: -0.125rem;
  text-align: center;
}
@media (min-width: 600px) {
  .content__title {
    font-size: 4rem;
  }
}

.content__author {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  letter-spacing: -0.125rem;
  text-align: center;
}
.content__author:before, .content__author:after {
  content: '';
  -webkit-box-flex: 1;
          flex: 1;
  height: 2px;
  background-color: #A9DFBF;
}
.content__author:before {
  margin-right: 1rem;
}
.content__author:after {
  margin-left: 1rem;
}
.contact_links{
  text-align: center;
}

.Project1{
  display:flex;
  flex-direction: row;
}
.Project1_1, .Project1_2, .Project1_3, .Project1_4{
  width:15vw;
  height:auto;
  margin-right:10px;
}